@model IEnumerable<shareurstorydb.UserPost>

@{
    ViewBag.Title = "Share My Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<shareurstorydb.TopPostReadings> popularPosts = ViewBag.PopularPosts;
    IEnumerable<shareurstorydb.TopPostLikes> topRatedPosts = ViewBag.TopRatedPosts;
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="containerBig">
    <div class="containerInner">
        <div class="containerTitle">
            <div class="containerTitleText">Latest Stories</div>
        </div>
        <div style="clear:both;"></div>
        <div class="containerStory">
            @if (Model == null || Model.Count() == 0)
            {
                <div class="storyText">Please <a href="stories">click here</a> and be the first to post a story.</div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="storyTitle">@Html.ActionLink(item.Title, "ViewPost", new { id = item.ID })</div>
                    <div class="storyText">@Html.Raw(shareyourstory.net.Controllers.Helpers.SanitizeHtml.ShortenAndStripHtml(item.Post.ToString(), 150))</div>
                }
            }
        </div>
    </div>
</div>
<div class="containerSmall">
    <div class="containerInner">
        <div class="containerTitle">
            <div class="imgThumb">&nbsp;</div>
            <div class="containerTitleText">Most Likes</div>
        </div>
        <div style="clear:both;"></div>
        <div class="containerStorySmall">
            @if (topRatedPosts == null || topRatedPosts.Count() == 0)
            {
                <div class="storyText">Please <a href="stories">click here</a> to view stories and be the first to like a story.</div>
            }
            else
            {
                foreach (var item in topRatedPosts)
                {
                    <div class="storyTitle">@Html.ActionLink(item.post.Title, "ViewPost", new { id = item.post.ID }) <span style="color:Black; font-weight:normal; font-style:italic;">(@Html.Raw(item.numberLikes.ToString()) likes)</span></div>
                    <div class="storyText">@Html.Raw(@Html.Raw(shareyourstory.net.Controllers.Helpers.SanitizeHtml.ShortenAndStripHtml(item.post.Post.ToString(), 60)))</div>
                }
            }
        </div>
    </div>
</div>
<div class="containerSeparater">&nbsp;</div>
<div class="containerSmall">
    <div class="containerInner">
        <div class="containerTitle">
            <div class="imgBooks">&nbsp;</div>
            <div class="containerTitleText">Most Read</div>
        </div>
        <div style="clear:both;"></div>
        <div class="containerStorySmall">
            @if (popularPosts == null || popularPosts.Count() == 0)
            {
                <div class="storyText">Please <a href="stories">click here</a> to view stories and be the first to read a story.</div>
            }
            else
            {
                foreach (var item in popularPosts)
                {
                    <div class="storyTitle">@Html.ActionLink(item.post.Title, "ViewPost", new { id = item.post.ID }) <span style="color:Black; font-weight:normal; font-style:italic;">(@Html.Raw(item.numberReadings.ToString()) read)</span></div>
                    <div class="storyText">@Html.Raw(shareyourstory.net.Controllers.Helpers.SanitizeHtml.ShortenAndStripHtml(item.post.Post.ToString(), 60))</div>
                }
            }
        </div>
    </div>
</div>