@model shareurstorydb.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="formItem">
        <div class="formLabel">@Html.LabelFor(m => m.NewPassword)</div>
        <div class="formInput">@Html.PasswordFor(m => m.NewPassword)</div>
        <div class="clear"></div>
    </div>        
    <div class="formItem">
        <div class="formLabel">@Html.LabelFor(m => m.ConfirmPassword)</div>
        <div class="formInput">@Html.PasswordFor(m => m.ConfirmPassword)</div>
        <div class="clear"></div>
    </div>        
    <div class="formBottom">
        <input type="submit" value="Set password" />
    </div>
}
