@using shareurstorydb;
@model UserPost
@{
    ViewBag.Title = "Edit - " + Model.Title;
    Layout = "~/Views/Shared/_layoutMin.cshtml";
}

<script type="text/javascript" src='@Url.Content("~/Scripts/tinymce/tinymce.min.js")'></script>
<script type="text/javascript">
        tinymce.init(
            { 
                selector: 'textarea',
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;Tahoma=tahoma,arial,helvetica,sans-serif;Times New Roman=times new roman,times;Trebuchet MS=trebuchet ms,geneva;Verdana=verdana,geneva",
                height: 500,
                statusbar: false,
                toolbar: ["undo redo | cut copy paste | bold italic underline strikethrough | bullist numlist outdent indent removeformat  | styleselect formatselect fontselect fontsizeselect"],
                menubar: false,
            });

</script>
@using(Html.BeginForm("Save", "Member"))
{
    <div class="mainContainer">
        <p style="padding:5px 0px 5px 0px">
            @Html.ActionLink("<< Back <<", "index", "Member", null, new { @class = "genericLink" })
        </p>
        <p style="padding:5px 0px 5px 0px">
            <span class="genericText" style="font-size:12px">Title:</span>&nbsp;@Html.TextBoxFor(model => model.Title, new { style = "width:300px" })
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="genericText" style="font-size:12px">Is Active:</span>&nbsp;@Html.CheckBoxFor(model => model.isActive)
            <input type="submit" id="SaveInfo" value="Save" class="searchButton" />
        </p>
        <!-- Gets replaced with TinyMCE, remember HTML in a textarea should be encoded -->
        @Html.TextAreaFor(model => model.Post, new { id="post", name="post", rows="30", cols="60", style="width: 100%"})
        @Html.HiddenFor(x => x.ID)
        @Html.HiddenFor(x => x.UserId)
    </div>
}