<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/CSSReset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" language="javascript" type="text/javascript"></script>    
</head>
<body>
    <div class="topBar">
        <div class="topBarLogo">
            <div class="logo">&nbsp;</div>
            <div class="topLogin">
                <div id="login">
                    @Html.Partial("_LoginPartial")
                    @*@{Html.RenderAction("_login", "Login");}*@
                </div>
            </div>
        </div>
    </div>
    <div class="topMenuUnder">
        <div class="topMenu">
            <div class="topMenuBar">
                <div class="topMenuBarLeft">
                    <div>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "topMenuItem" })</div>
                    <div>@Html.ActionLink("Read a Story", "Index", "Home/stories", null, new { @class = "topMenuItem" })</div>
                    <div>@Html.ActionLink("Your Stories", "Index", "Member", null, new { @class = "topMenuItem" })</div>
                    <div>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "topMenuItem" })</div>
                    <div class="clear"></div>
                </div>
                <div class="topMenuBarRight">
                    @*@using (Html.BeginForm("stories", "Home", FormMethod.Get))
                    {
                        <div class="searchButtonTop">
                            <input type="image" src="@Url.Content("~/content/images/buttonSearch.png")" style="width:28px; height:28px;" onsubmit="submit-form();" />
                        </div>
                        <div class="searchInputTop" style="padding-top: 5px; float: right;" id="txtSearchBy">
                            @Html.TextBox("SearchText", "", new { id = "SearchText", style = "width:90%" })
                        </div>
                        <div class="clear"></div>
                    }*@
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
