@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/CSSReset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="SHORTCUT ICON" href="@Url.Content("~/content/favicon.ico")"/>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" language="javascript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/handlebars.js")" language="javascript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app-layout.js")" language="javascript" type="text/javascript"></script>
</head>
<body>
    <div class="topBar">
        <div class="topBarLogo">
            <div class="logo">&nbsp;</div>
            <div class="topLogin">
                <div id="login">
                    @Html.Partial("_LoginPartial")
                    @*@{Html.RenderAction("_login", "Login");}*@
                </div>
            </div>
        </div>
    </div>
    <div class="topMenuUnder">
        <div class="topMenu">
            <div class="topMenuBar">
                <div class="topMenuBarLeft">
                    <div>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "topMenuItem" })</div>
                    @*<div>@Html.ActionLink("Read a Story", "Index", "stories", null, new { @class = "topMenuItem" })</div>*@
                    <div>@Html.ActionLink("Your Stories", "Index", "Member", null, new { @class = "topMenuItem" })</div>
                    <div>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "topMenuItem" })</div>
                    <div class="clear"></div>
                </div>
                <div class="topMenuBarRight">
                    @using (Html.BeginForm("stories", "Home", FormMethod.Get))
                    {
                        <div class="searchButtonTop">
                            <input type="image" src="@Url.Content("~/content/images/buttonSearch.png")" style="width:28px; height:28px;" onsubmit="submit-form();" />
                        </div>
                        <div class="searchInputTop" style="padding-top: 5px; float: right;" id="txtSearchBy">
                            @Html.TextBox("SearchText", "", new { id = "SearchText", style = "width:90%" })
                        </div>
                        <div class="clear"></div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="mainContainer">
        <div class="mainLeft">
            @Html.Partial("_errorLabel")
            @RenderBody()
        </div>
        <div class="mainRight">
            <div id="adds">
                @Html.Partial("_Ads")
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div class="copyrights">
        COPYRIGHTS 2013
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
